.ExpertoR-logo {
  width: 100vmin;
  height: 50vmin;
  pointer-events: none;
}


.Soyexperto{
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
